body {
  /* padding-top: 9vh; */
  overflow-y: hidden;
  overflow-x: hidden;
}

nav{
  box-shadow: 0 0 20px 0 gray;
  padding: 1em;
}

.banner {
  margin-top: 4.8em; 
}

#faq ul{
  list-style-type: disc !important;
}

.btn {
    background-color: #FFC475; /* Green */
    border: none;
    color: #ED1B2F;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: -0.9em;
    margin-top: -0.01em;
}

@font-face {
  font-family: chineserocks;
  src: url(../assets/Fonts/chinese.ttf);
}

@font-face {
  font-family: gotham;
  src: url(../assets/Fonts/gotham.otf);
}

@font-face {
  font-family: narrowgotham;
  src: url(../assets/Fonts/gothamextranarrow.otf);
}

.purple{
  background-image: url(../assets/bgs/bg-about.png);
  margin-top: -0.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.line{
  padding-top:3em;
  background-color: #242149;
  padding-left: 4em;
  padding-right: 4em;
  margin-bottom: -3em;
}

/* .line1{
  margin-left: 10%;
  margin-right: 10%;
} */

h1 {
  font-family: chineserocks;
}

.nav{
  font-size: 0.8em;
}

h2 {
  font-family: chineserocks;
  color: #fca834;
}

p {
  font-family: gotham;
}

.marginforlineup{
  margin-bottom: 1em;
}

.zoom {
  position: relative;
  overflow: hidden;
  padding:0;
}
.zoom img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom:hover img,.card-content{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.accordion-header{
  background-color:white;color:#ED692A;border-bottom:1px solid #ED692A;padding:0.9em;
}

.accordion-header i { 
  transition: all 300ms ease-in 0s;}

.is-active i {
  transform: rotate(180deg);
}

.accordion-content{
  background-color: white;
}

.name1{
  background-color: #ec6324;
  font-family: narrowgotham;
  color:white;

}

.name2{
  background-color:#fca834;
  font-family: narrowgotham;
  color:white;
}

#location{
  background-color: #1A73B2;
  height: 21.8em;
  /* margin-top: -2em; */
  /* margin-bottom: -2em; */
  position: relative;
}

iframe{
  overflow: hidden;
}

.locationhead{
  font-size: 2rem;
  color: #fca834;
}

.navpad{
  padding: .6em;
}

.locationpad{
  padding-top: 3em;
}

/* .locationshadow{

  box-shadow: 3px 0 0 0 gray;
  opacity: 50%;
  height: 32rem;
} */

/* #map_container{
  position: relative;
}
#map{
    height: 350;
    overflow: hidden;
    padding-bottom: 22.25%; 
    padding-top: 30px;
    position: relative;
} */

#map{
  position: relative;
  margin-top: -0.8em;
}

#faq{
  padding-top: 1em;
  /* padding-top: 3em; */
  background-image: url(../assets/bgs/bg-faq.png);
  background-repeat: no-repeat;
  background-position: bottom  center;
  background-color: #ffd7b3;
  background-size: 100%;
  padding-bottom: 5em;;
}

.accordion-header{
  background-color:white !important;
  color:#ED692A  !important;
  border-bottom:1px solid #ED692A !important;
  padding:0.9em !important;
}

.accordion-content{
  background-color: white !important;
}

.faqmargin{
  margin: 0 3em 0 3em;
}

/* .faqheader{
  padding-top:3em;
} */

#footer{
  background-color:#242149;
  margin-top: -3em;
}

.logofooter{
  margin: 0 0 0 2em;
  height: 2.2em;
}

article{
  margin-left: 2em;
  margin-right: 2em;
}

.topcloud{
  position: absolute;
  padding: 50px 0 0 0;
  z-index:4;
  left:-30px;
}

.botcloud{
  position: absolute;
  padding-top: 250px;
  /* right: 50px; */
  left: 290px;
  z-index:4;
}

#footer i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px gray;
  padding: 0.5em 0.6em;
  color: gray;
  margin: 0 0.30em 0 0.30em;

}

#footer i:hover{
  color: white;
  box-shadow: 0px 0px 2px white;
}

@media (min-width: 320px) and (max-width: 480px) {
  
.line{
  padding-top:3em;
  background-color: #242149;
  padding-left: 0;
  padding-right: 0;
}


#faq{
  /* margin-top: 3em; */
  padding-top: 5em;
  background-image: url(../assets/bgs/bg-faq.png);
  background-repeat: no-repeat;
  background-position: bottom  center;
  background-color: #ffd7b3;
  background-size: 100%;
  padding-bottom: 20%;
}

.topcloud{
  position: absolute;
  padding: 40px 0 0 0;
  z-index:4;
  left:-30px;
}

.botcloud{
  position: absolute;
  padding-top: 70px;
  /* right: 50px; */
  left: 325px;
  z-index:4;
}

#footer i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px white;
  padding: 0.5em 0.6em;
  color: white;
  margin: 0 0.30em 0 0.30em;

}

.btn {
    background-color: #FFC475; /* Green */
    border: none;
    color: #ED1B2F;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* margin-right: -2em;
    margin-top: -1.5em; */
}

nav{
  box-shadow: 0 0 20px 0 gray;
  padding: 0em;
}


.banner {
  margin-top: 2em;
}



}

.accordion{
  background-color: white;
}

@media (min-width: 481px) and (max-width: 768px) {

.topcloud{
  position: absolute;
  padding: 40px 0 0 0;
  z-index:4;
  left:-30px;
}

.botcloud{
  position: absolute;
  padding-top: 90px;
  /* right: 50px; */
  left: 590px;
  z-index:4;
}

#faq{
  /* margin-top: 3em; */
  padding-top: 5em;
  background-image: url(../assets/bgs/bg-faq.png);
  background-repeat: no-repeat;
  background-position: bottom  center;
  background-color: #ffd7b3;
  background-size: 100%;
  padding-bottom: 20%;
}

#footer i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px white;
  padding: 0.5em 0.6em;
  color: white;
  margin: 0 0.30em 0 0.30em;

}

.line{
  font-size: 0.72em;
  padding-bottom: 0em;
}

article{
  margin-left: 2em;
  margin-right: 2em;
}

.nav{
  padding:0px;
  margin:0;
}

}

@media (min-width: 769px) and (max-width: 1024px) {

.topcloud{
  position: absolute;
  padding: 40px 0 0 0;
  z-index:4;
  left:-30px;
}

.botcloud{
  position: absolute;
  padding-top: 250px;
  /* right: 50px; */
  left: 200px;
  z-index:4;
}

#footer i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px white;
  padding: 0.5em 0.6em;
  color: white;
  margin: 0 0.30em 0 0.30em;

}

.line{
  font-size: 1em;
}
}

@media screen and (max-width:768px){
  .line{
  font-size: 1em;
}

.btn{
  padding: 16px 32px;
  margin-right: -1.9em;
  margin-top: -0.9em;
  margin-bottom: -0.9em;
}

nav {
  padding: 0.6em;
}

.banner {
  margin-top: 3.3em; 
}
}