@charset "utf-8";

$has-text-danger: $red;
$imgpath: "../assets/bgs";

body{
  padding-top: 10vh;
  overflow-x: hidden;
}
.banner{
  width: 100%;
  margin-top: 3.5em;
}

@font-face {
  font-family: chineserocks;
  src:url(../assets/Fonts/chinese.ttf);
}

@font-face {
  font-family: gotham;
  src:url(../assets/Fonts/gotham.otf);
}

@font-face {
  font-family: narrowgotham;
  src:url(../assets/Fonts/gothamextranarrow.otf);
}

.purple{
  background-image: url(#{$imgpath}/bg-about.png,true,false);
  width: 100%;
}

h1{
  font-family: chineserocks;
}

h2{
  font-family: chineserocks;
  color: #fca834;
}

p{
  font-family: gotham;
  // font-size: 0.5em;
}

@import "../bulma/bulma.sass";